html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    display: flex;
    width: 100%;
    margin: 0;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Roboto', sans-serif;
}

.contained {
    padding: 60px 150px;
}

.nav {
    background-color: #1f2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    padding: 20px 150px;
}

.logo {
    min-width: 42px;
}

.nav-items {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
    gap: 16px;
}

.nav-items a {
    text-decoration: none;
    color: white;
}

.section-1 {
    display: flex;
    background-color: #1f2937;
    color: white;
    align-content: center;
    gap: 16px;
    padding-top: 20px;
    padding-bottom: 40px;
    flex-wrap: wrap;
}

.section-1>.left-side,
.section-1>.right-side {
    flex: 1;
}

.section-1>.left-side {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    gap: 5px;
    min-width: 200px;
}

.section-1>.right-side {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 200px;
}

.section-1-image {
    max-width: 100%;
    max-height: 300px;
    height: auto;
    width: auto;
}

.section-1 h1,
.section-1 p {
    margin: 0;
}

.section-1 p {
    color: #e5e7eb;
    font-weight: normal;
}

.section-1-button {
    width: 150px;
    border-radius: 5px;
    padding: 5px 24px;
    background-color: #3b82f6;
    color: white;
    font-weight: bold;
    border: 0;
}

.section-2 {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding-top: 0;
}

.section-2 .title {
    font-weight: bold;
    font-size: 24px;
}

.tile-boxes {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 30px;
    flex-wrap: wrap;
}

.tile-box {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    font-weight: normal;
    text-align: center;
    flex: 1 0 0;
    min-width: 100px;
    font-size: 12px;
    font-weight: 100;
}

.tile-box img {
    border-color: #3b82f6;
    border-radius: 10px;
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-bottom: 10px;
    border: 2px solid;
    border-color: #3b82f6;
}

.tile-box p {
    padding: 0;
    margin: 0;
}

.section-3 {
    background-color: #e5e7eb;
    color: black;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.section-3 p {
    margin: 0;
}

.section-3 .quote-text {
    text-align: justify;
    font-style: italic;
    font-weight: 100;
    font-size: 24px;
}

.section-3 .quote-author {
    text-align: right;
    font-weight: bold;
}

.section-4 {
    font-weight: bold;
    padding: 50px 200px;
}

.section-4 .cta-box {
    background-color: #3b82f6;
    border-radius: 10px;
    padding: 30px 80px;
    color: #ffff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px
}

.section-4 .title {
    margin: 0;
    padding: 0;
    font-weight: bold;
}

.section-4 .subtext {
    margin: 0;
    padding: 0;
    font-size: 12px;
    font-weight: 300;
}

.section-4 button {
    margin: 0;
    padding: 0;
    border: 0;
    background-color: transparent;
    color: white;
    font-weight: bold;
}

.section-4 .button {
    border: 1px solid;
    border-color: white;
    flex: 1;
    text-align: center;
    border-radius: 5px;
    padding: 3px;
    margin: auto;
}

.cta-box>.left-side {
    flex: 4;
}

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: normal;
    font-size: 12px;
    padding: 15px;
}